@keyframes glow {
    0% {
        clip-path: circle(5% at 100% 0%);

    }

    50% {
        clip-path: circle(35% at 90% 10%);

    }

    100% {
        clip-path: circle(5% at 100% 0%);
    }
}

@keyframes glow2 {
    0% {
        width: 150px;
        height: 150px;
        left: -50px;
        top: calc(100% - 5%);
        border-radius: 50%;
    }

    50% {
        width: 950px;
        height: 950px;
        left: -200px;
        top: calc(100% - 50%);
        border-radius: 50%;
    }

    100% {
        width: 150px;
        height: 150px;
        left: -50px;
        top: calc(100% - 5%);
        border-radius: 50%;
    }
}

@keyframes border-me {
    0% {
        border: 5px solid gray;
    }
    50% {
        border: 5px solid white;
    }
    100% {
        border: 5px solid gray;
    }
}
@keyframes zoom-bg {
    0%{
        background-size: 100%;
    }2%{
        background-size: 100%;
    }40%{
        background-size: 150%;
    }60%{
        background-size: 150%;
    }
    98%{
       background-size: 100%;
    }
    100%{
       background-size: 100%;
    }
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes from-end {
    from{
        left:150%;
    }
    to{
        left: 100%;
    }
}