@import url(./frames_key.css);
:root {
    --royal: rgb(0, 102, 255);
    --grr: rgb(0, 74, 158);
    --bg-gg: rgb(0, 255, 149);
    --dark: rgb(12, 13, 13);
    --milk2:#EFEFEF;
    --milk:rgb(221, 221, 221);
    --r-grr:rgb(60, 112, 186);
    --hr-grr: #6cbc71;
    --gr: #5d5d5d;
    --wt:white;
}
*{
    transition: .4s ease-in-out;
}

@font-face {
    font-family: camel;
    src: url(./assets/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: poppins;
    src: url(./assets/Poppins/Poppins-Regular.ttf);
}

body {
    font-family: camel;
    /* background: var(--dark);
    color: var(--milk); */
}
.homeland{
    max-height: 100vh;
    overflow: hidden;
}
.banner_header h1 {
    font-weight: 900;
    font-size: 70px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    text-transform: uppercase;
    margin-top: calc(1000px - 900px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner_header .txt-grad {
    font-size: 100 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.txt-grad {
    color: transparent;
    background: linear-gradient(60deg, var(--bg-gg), var(--royal));
    background-clip: text;
    -webkit-background-clip: text;
}
.txt-grad2 {
    color: transparent;
    background: linear-gradient(110deg, var(--hr-grr), var(--grr));
    background-clip: text;
    -webkit-background-clip: text;
}

.mini-txt {
    font-size: 20px;
}

.bubble-animated:nth-child(1) {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    color:white;
    /* border-radius: 50%; */
    background-color: var(--bg-gg);
    background: linear-gradient(160deg, var(--bg-gg), var(--royal));
    clip-path: circle( 5% at 100% 0%);
    animation: glow 4000ms linear infinite;
}
.bubble-animated:nth-child(2) {
    position: absolute;
    width: 150px;
    height: 150px;
    left: -50px;
    top: calc(100% - 5%);
    border-radius: 50%;
    background-color: var(--bg-gg);
    background: linear-gradient(60deg, var(--bg-gg), var(--royal));
    animation: glow2 3000ms linear infinite;
}
.bubble-animated > * {
    min-width: 100vw;
    position: absolute;
}

.primary{
    padding: 15px;
    background-color: var(--dark);
    border-radius: 10px;
    border:none;
    margin: 10px;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    transition: 1s ease-in-out;
    border: 5px solid gray;
    animation: border-me 4s linear infinite;
}
.primary:hover{
    padding: 15px;
    background-color: var(--dark);
    border-radius: 10px;
    border:none;
    margin: 10px;
    text-decoration: none;
    box-sizing: border-box;
    color: rgb(133, 255, 204);
    transition: 1s ease-in-out;
    border: 5px solid gray;
    animation: border-me 4s linear infinite;
}
.box_notify{
    padding: 10px;
    border-radius: 10px;
    /* background-color: rgb(26, 25, 25); */
}
.box_notify > *{
    animation: fadeIn 3s linear infinite;
}
.primary2{
    padding: 20px;
    min-width: 250px;
    font-size: large;
    /* background: linear-gradient(120deg, var(--royal), var(--grr)); */
    background-color: var(--hr-grr);
    border-radius: 10px;
    border:none;
    margin: 10px;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--wt);
    transition: 1s ease-in-out;
    border: none;
    /* animation: border-me 4s linear infinite; */
}
.lrg{
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, monospace;
    font-weight: 900;
}
.bg-grr{
    background-color: var(--grr);
}
.btn-center{
    position: relative;
    text-align: center;
    justify-content: center;
    width: 100%;
}
.bg-link{
    padding: 8px;
    background-color: var(--r-grr);
    color: var(--wt);
    border-radius: 10px;
    margin: 10px;
    font-size: small;
    text-decoration: none;
}
.bg-link:hover{
    padding: 8px;
    background-color: var(--grr);
    color: var(--wt);
    border-radius: 10px;
    margin: 10px;
    font-size: small;
    text-decoration: none;
}
.picture-slug{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: var(--milk2);
}
.picture-slug * {
    position: relative;
    width: 100%;
    height: 100%;
}
button{
    font-family: poppins !important;
}